.game-icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #1a172b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-icon-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pubg-icon {
    background-color: transparent;
}

.valorant-icon {
    background-color: transparent;
}

.coc-icon {
    background-color: transparent;
}

.default-icon {
    background-color: #4c1d95;
}